@import './bootstrap/custom';
@import '~bootstrap/scss/bootstrap';
@import './styles';

body{
    overflow-x: hidden;
}
.navbar-expand-lg { 
    flex-wrap : wrap ; 
    justify-content : space-between ; 
}

@media ( min-width : 1400px )
{
     body {
          max-width : 1300px ; margin : auto ; 
        }
}

.form-layout {
    background-color:white;
    margin: 50px 292px 50px 292px;
    height: auto;
    justify-content: center;
    border-radius: 25px;
}

.page-label {
    text-align: center;
    color: #5A2F7D;
    font-weight: bolder;
    font:normal normal 800 30px/37px Gilroy;
    
}

.page-description {
    text-align: center;
    font: normal normal normal 16px/19px Karla;
}

.page-sub-label {
    background-color:#F7F5F7;
    font: normal normal bold 21px/24px Karla;
}


.field-label{
    font: normal normal normal 16px/19px Karla;
}

.button-rounded{
    border-radius: 33px;
    font-size: 16px;
    padding: 10px 40px 10px 40px;
    width: fit-content;
    opacity: 1;
  }
  
  .green-btn{
    background: #32B480;
  }

  .grey-btn{
    background: #676574;
  }

  
.mandatory{
    color: red;
  }


.toast{

   align-items: center;
}

.toast-header{
  color:red;
  font: normal normal normal 21px/24px Karla;
  font-weight: bolder;
  
}

.toast-body{
  color:black;
  font: normal normal normal 16px/19px Karla;
  font-weight: normal;
}